@charset "UTF-8";

.page-main{
	width:1600px;
	margin:0 auto;
}

.main-banner{
	width: 1600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.best-cos{
	width: 1600px;
	height: 300px;
    margin: 0 auto;
    border: 1px solid gray;
    margin-bottom: 20px;	
}

.best-spot{
	width: 1600px;
	height: 300px;
    margin: 0 auto;
    border: 1px solid gray;
    margin-bottom: 20px;	
}

.footer{
    width: 1600px;
    height: 30px;
    margin: 0 auto;
    padding-top : 10px;
    padding-bottom : 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.result-display{
	width:400px;
	height:200px;
	/*정중앙에 div를 배치하기 위한 설정*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid #000;
	display:flex;
	/*세로 정렬*/
	align-items:center;
	/*가로 정렬*/
	justify-content:center;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
/*메인*/
a:link{
	text-decoration: none;
	color:#000000;
}
a:visited{
	text-decoration: none;
	color:#000000;
}
a:hover{
	text-decoration: underline;
	color:#999999;
}

/*회원가입, 수정폼*/
form{
	width:600px;
	margin:0 auto;
	padding:10px 10px 10px 30px;
	border:1px solid #000;
}
ul{
	list-style:none;
}
label{
	width:130px;
	float:left;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:113px;
}
input[id="zipcode"]{
	width:95px;
}
.form-notice{
	margin-left: 130px;
}

/*목록*/
form#search_form{
	border:none;
}

ul.search{
	width:320px;
	list-style:none;
	padding: 0;
	margin: 0 auto;
}

ul.search li{
	margin: 0 0 9px 0;
	padding: 0;
	display: inline;
}

.list-space{
	margin-bottom: 10px;
}

table{
	width:100%;
	border:1px solid #000;
	border-collapse:collapse;
	margin-top:5px;
}
table td, table th{
	border:1px solid #000;
	padding:5px;
}

/*마이페이지*/
.mypage-div{
	width:48%;
	float:left;
	padding: 5px;
}
.my-photo{
	object-fit:cover;
	object-position:top; /* 정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
	border-radius: 50%; /* 사각형의 모서리 둥근 정도를 지정하는 속성, 50%를 지정하면 완전한 원이 됨 */
}

/*글 상세*/
.detail-img{
	max-width:500px;
}